.App {
  background-color: white;
  min-height: 100vh; 
}
.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 30vh;
}
.bottom {
  font-size: calc(25px + 2vmin);
  padding-left: 25px;
  color: white;
  position: absolute;
  bottom:0; 
  left:0; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.top {
  font-size: calc(10px + 2vmin);
  padding: 25px;
  color: white;
  position: absolute;
  top:0; 
  right:0; 
}
.icon{
  height: 25px; 
  width: 25px; 
  padding: 5px;
}
